{% extends "base.html" %}

{% block content %}
<div id="form">
<div><h2 id="form_header"> User Sign-up </h2></div>
<form method='post'>
  <div>
    <div  class="form_label"><label> Username </label></div>
    <div><input type='text' name='username'  value='{{ username }}'/></div>
  </div>
  <div>
    <div class="error">{{ username_error}}</div>
  </div>
  <div>
    <div class="form_label"><label> Password </label></div>
    <div><input type='password' name='password'/></div>
  </div>
  <div>
    <div class="error">{{ pass_error }}</div>
  </div>
  <div>
    <div class="form_label"><label> Verify Password </label></div>
    <div><input type='password' name='ver_password'/></div>
  </div>
  <div><br></div>
  <div>
    <div class="form_label"><label> Email (optional) </label></div>
    <div><input type='text' name='email' value='{{ email }}'/></div>
  </div>
  <div>
    <div class="error">{{ email_error }}</div>
  </div>
  <div>
    <input id="submit" type='submit'/>
  </div>
</form>
</div>
{% endblock %}
